/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

/* UTILITIES */

.container{
    width: 1080px;
    margin: 0 auto;
}

.bg-1{
    background-color: white;
}
.bg-2{
    background-color: rgb(246,246,246)
}
.bg-3{
    background-color: darkslategrey;
}

.wave{
    display: block;
}

.upside-down{
    rotate: 0.5turn;
}

/* HEADER */

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 80px;
    padding: 20px; 
    color: white;
}

.menu{
    
    width: 1080px;
    margin: 0 auto;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
}

.logo{
    flex-basis: 20%;
    padding: 15px;
    font-size: 20px;
}

.nav{
    flex-basis: 60%;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.login{
    flex-basis: 20%;
    text-align: end;
    padding: 15px;
}
.login-button{
    background-color: white;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    color: black
}


/* box piccolo */

.row-1{
    min-height: 373px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1{
    flex-basis: 750px;
    height: 373px;
    text-align: center;
    padding-top: 40px;
}

.header-title{
    font-size: 42px;
    padding: 30px 0;

}

.header-text{
    padding: 0 60px 40px 60px;
}

.download{
    background-color: white;
    padding: 12px 18px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.open{
    background-color: rgb(24, 24, 24);
    padding: 12px 18px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}


/* MAIN */


/* box simili */

.row-2{
    min-height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2{
    display: flex;
    height: 480px;
}
.left{
    flex-basis: 60%;
    padding: 60px;
    
}

.right{
    flex-basis: 40%;
}

.section-img{
    width: 500px;
}

.section-title{
    font-size: 38px;
    padding: 75px 130px 25px 20px;
}

.section-text{
    padding: 0 140px 0 20px;
}

.section-title-reverse{
    font-size: 38px;
    padding: 75px 20px 25px 110px;
}

.section-text-reverse{
    padding: 0 20px 0 110px;
}

/* box grande */

.row-3{
    min-height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-3{
    height: 560px;
    border: 2px dashed black;
}

/* box con minibox */

.row-4{
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-4{
    display: flex;
    height: 380px;
    border: 2px dashed black;
    margin-bottom: 20px;
}

.left-2{
    flex-basis: 30%;
    background-color: rgb(237, 100, 100);
    border-right: 2px dashed black;
}

.right-2{
    flex-basis: 70%;
    background-color: darkturquoise;
    display: flex;
}
.minibox{
    flex-basis: 25%;
    border: 2px dashed white;
}

/* FOOTER */

footer{
    min-height: 80px;
    background-color: darkslategrey;
    margin: 2px 0;
    display: flex;
    justify-content: center;
    align-items: end;
}

.footer-box{
    background-color: aquamarine;
    width: 1080px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    background-color: darksalmon;
    width: 70px;
    height: 30px;
    border: 2px dashed black;
}
